
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

th { 
    margin: 20px;
}

.package-container {
    margin-top: 20px;
}

.package {
    margin: 10px 0 10px 0;
    background-color: #98b39b;
}

.th {
    margin: 0;
}