

table {
    width: 100%;
}

.packages {
    border-collapse: separate;
    border-spacing: 0 15px;
}

th { 
    margin: 20px;
}

.package-container {
    margin-top: 20px;
}

.package {
    margin: 10px 0 10px 0;
    background-color: #98b39b;
}

.th {
    margin: 0;
}

#logo-container {
    width: 100%;
    margin-top: 20px;
}

#logo-container img {
    display: block;
    margin: auto;
    width: 200px;
}

.profile-info th {
    background-color: var(--primary);
    color: var(--background);
    padding: 50px;
}

.profile-info {
    border-collapse: separate;
    border-spacing: 50px;
}