@import url("https://fonts.googleapis.com/css?family=Alef:400");

.component-wrapper a,
.screen a {
  text-decoration: none;
  display: contents;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen *,
.component-wrapper * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.container-center-vertical,
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.container-center-vertical {
  align-items: center;
  height: 100%;
}

.container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.container-center-vertical > *,
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.component-wrapper,
.screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.auto-animated div {
  opacity: 0;
  position: absolute;
  --z-index: -1;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.animate-appear {
  opacity: 0;
  display: block;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
}

.animate-disappear {
  opacity: 1;
  display: block;
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
}

.animate-nodelay {
  animation-delay: 0s;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.align-self-flex-start {
  align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-flex-center {
  align-self: center;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
input:focus {
  outline: none;
}
.component-wrapper,
.component-wrapper * {
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper a,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe,
.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  visibility: hidden;
  pointer-events: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Alef:400");
* {
  box-sizing: border-box;
}

/* screen - splash-screen */

.splash-screen {
  background-color: transparent;
  height: 1150px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.splash-screen .calculate-your-essly-offset-it-SfXHNm {
  background-color: transparent;
  color: rgba(54, 71, 81, 1);
  font-family: "Alef", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 537px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 380px;
  width: 848px;
}
.splash-screen .group-0KT7xy {
  background-color: transparent;
  height: 1150px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 2048px;
}
.splash-screen .group-4tycHf {
  background-color: transparent;
  height: 1150px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.splash-screen .group-Rl8PYE {
  background-color: transparent;
  height: 1150px;
  left: 181px;
  position: relative;
  top: 0px;
  width: 2081px;
}
.splash-screen .group-RlNLuI {
  background-color: transparent;
  height: 354px;
  left: 105px;
  position: absolute;
  top: 400px;
  width: 330px;
}
.splash-screen .group-SfXHNm {
  background-color: transparent;
  height: 1305px;
  left: -315px;
  position: absolute;
  top: 0px;
  width: 2356px;
}
.splash-screen .group-TeuhLE {
  background-color: transparent;
  height: 1150px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.splash-screen .group-ZC9Lb7 {
  background-color: transparent;
  height: 310px;
  left: 1048px;
  position: absolute;
  top: 534px;
  width: 283px;
}
.splash-screen .group-kjfyr4 {
  background-color: transparent;
  height: 295px;
  left: 1494px;
  position: absolute;
  top: 612px;
  width: 273px;
}
.splash-screen .group-oTF11q {
  background-color: transparent;
  height: 1150px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.splash-screen .group-x7UHOH {
  background-color: transparent;
  height: 1150px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.splash-screen .group-x8LDmy {
  background-color: transparent;
  height: 324px;
  left: 605px;
  position: absolute;
  top: 493px;
  width: 371px;
}
.splash-screen .login-with-gmail-SfXHNm {
  background-color: transparent;
  color: rgba(54, 71, 81, 1);
  font-family: "Alef", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 843px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 932px;
  width: 339px;
}
.splash-screen .logo-1-C61RwL {
  background-color: transparent;
  height: 452px;
  left: 434px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 1052px;
}
.splash-screen .mail-SfXHNm {
  background-color: transparent;
  height: 65px;
  left: 761px;
  overflow: hidden;
  position: absolute;
  top: 919px;
  width: 65px;
}
.splash-screen .rectangle-1-C61RwL {
  background-color: rgba(176, 197, 178, 1);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1920px;
}
.splash-screen .rectangle-2-SfXHNm {
  background-color: rgba(176, 197, 178, 1);
  border-radius: 10px;
  height: 82px;
  left: 675px;
  position: absolute;
  top: 911px;
  width: 571px;
}
.splash-screen .vector-0KT7xy {
  background-color: transparent;
  height: 109px;
  left: 1282px;
  position: absolute;
  top: 710px;
  width: 89px;
}
.splash-screen .vector-37B8la {
  background-color: transparent;
  height: 251px;
  left: 1894px;
  position: absolute;
  top: 704px;
  width: 124px;
}
.splash-screen .vector-4tycHf {
  background-color: transparent;
  height: 114px;
  left: 1146px;
  position: absolute;
  top: 688px;
  width: 99px;
}
.splash-screen .vector-5XScZx {
  background-color: transparent;
  height: 159px;
  left: 842px;
  position: absolute;
  top: 648px;
  width: 128px;
}
.splash-screen .vector-6CAc9T {
  background-color: transparent;
  height: 1px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 1px;
}
.splash-screen .vector-8ad9fH {
  background-color: transparent;
  height: 253px;
  left: 1px;
  position: absolute;
  top: 391px;
  width: 126px;
}
.splash-screen .vector-93SkKs {
  background-color: transparent;
  height: 186px;
  left: 1013px;
  position: absolute;
  top: 615px;
  width: 103px;
}
.splash-screen .vector-E22flQ {
  background-color: transparent;
  height: 214px;
  left: 324px;
  position: absolute;
  top: 548px;
  width: 127px;
}
.splash-screen .vector-F8Tr9Y {
  background-color: transparent;
  height: 248px;
  left: 1958px;
  position: absolute;
  top: 679px;
  width: 123px;
}
.splash-screen .vector-KcAWgp {
  background-color: transparent;
  height: 253px;
  left: 1688px;
  position: absolute;
  top: 657px;
  width: 127px;
}
.splash-screen .vector-L5x3iL {
  background-color: transparent;
  height: 147px;
  left: 967px;
  position: absolute;
  top: 654px;
  width: 85px;
}
.splash-screen .vector-MIwTTe {
  background-color: transparent;
  height: 253px;
  left: 1750px;
  position: absolute;
  top: 700px;
  width: 128px;
}
.splash-screen .vector-MzjJjI {
  background-color: transparent;
  height: 185px;
  left: 1320px;
  position: absolute;
  top: 641px;
  width: 97px;
}
.splash-screen .vector-NiChxp {
  background-color: transparent;
  height: 253px;
  left: 1821px;
  position: absolute;
  top: 677px;
  width: 126px;
}
.splash-screen .vector-RlNLuI {
  background-color: transparent;
  height: 196px;
  left: 445px;
  position: absolute;
  top: 614px;
  width: 106px;
}
.splash-screen .vector-SH0aPq {
  background-color: transparent;
  height: 519px;
  left: -0px;
  position: absolute;
  top: 610px;
  width: 2059px;
}
.splash-screen .vector-TeuhLE {
  background-color: transparent;
  height: 200px;
  left: 1211px;
  position: absolute;
  top: 672px;
  width: 108px;
}
.splash-screen .vector-V49dGi {
  background-color: transparent;
  height: 196px;
  left: 1080px;
  position: absolute;
  top: 599px;
  width: 105px;
}
.splash-screen .vector-VUZlXC {
  background-color: transparent;
  height: 66px;
  left: 1049px;
  position: absolute;
  top: 745px;
  width: 42px;
}
.splash-screen .vector-WHHKmp {
  background-color: transparent;
  height: 253px;
  left: 1378px;
  position: absolute;
  top: 580px;
  width: 124px;
}
.splash-screen .vector-XADyRU {
  background-color: transparent;
  height: 254px;
  left: 130px;
  position: absolute;
  top: 539px;
  width: 125px;
}
.splash-screen .vector-ZC9Lb7 {
  background-color: transparent;
  height: 196px;
  left: 744px;
  position: absolute;
  top: 581px;
  width: 103px;
}
.splash-screen .vector-gD5iFW {
  background-color: transparent;
  height: 252px;
  left: 890px;
  position: absolute;
  top: 568px;
  width: 122px;
}
.splash-screen .vector-kjfyr4 {
  background-color: transparent;
  height: 200px;
  left: 387px;
  position: absolute;
  top: 535px;
  width: 107px;
}
.splash-screen .vector-oTF11q {
  background-color: transparent;
  height: 252px;
  left: 1276px;
  position: absolute;
  top: 586px;
  width: 124px;
}
.splash-screen .vector-q3n3ta {
  background-color: transparent;
  height: 253px;
  left: 49px;
  position: absolute;
  top: 535px;
  width: 122px;
}
.splash-screen .vector-wwtWKx {
  background-color: transparent;
  height: 216px;
  left: 554px;
  position: absolute;
  top: 650px;
  width: 128px;
}
.splash-screen .vector-x7UHOH {
  background-color: transparent;
  height: 199px;
  left: 193px;
  position: absolute;
  top: 535px;
  width: 107px;
}
.splash-screen .vector-x8LDmy {
  background-color: transparent;
  height: 198px;
  left: 802px;
  position: absolute;
  top: 614px;
  width: 106px;
}
.splash-screen .vector-xut8cD {
  background-color: transparent;
  height: 45px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 55px;
}
.splash-screen .x27059-converted-1-C61RwL {
  background-color: transparent;
  height: 1150px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}