<html>
	<head>
		<title>Offset</title>

		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css">
	</head>
	<body>
		<div id="logo-container">
			<img src="/static/img/logo.png">
		</div>
		
		
		<div id="message">Calculate your mail’s carbon output and effortlessly offset it.</div>
		
		<div id='button-container'>
			<button>
				<div class="button-img">
					<img class="vector-xut8cD" src="data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iNTUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA1NSA0NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQ5LjE2NjcgMC44MzMzNDRINS44MzMzNEMyLjg1NDE3IDAuODMzMzQ0IDAuNDQzNzU1IDMuMjcwODQgMC40NDM3NTUgNi4yNTAwMUwwLjQxNjY3MiAzOC43NUMwLjQxNjY3MiA0MS43MjkyIDIuODU0MTcgNDQuMTY2NyA1LjgzMzM0IDQ0LjE2NjdINDkuMTY2N0M1Mi4xNDU4IDQ0LjE2NjcgNTQuNTgzMyA0MS43MjkyIDU0LjU4MzMgMzguNzVWNi4yNTAwMUM1NC41ODMzIDMuMjcwODQgNTIuMTQ1OCAwLjgzMzM0NCA0OS4xNjY3IDAuODMzMzQ0Wk00OS4xNjY3IDExLjY2NjdMMjcuNSAyNS4yMDgzTDUuODMzMzQgMTEuNjY2N1Y2LjI1MDAxTDI3LjUgMTkuNzkxN0w0OS4xNjY3IDYuMjUwMDFWMTEuNjY2N1oiIGZpbGw9IiMzNjQ3NTEiLz4KPC9zdmc+Cg==">
					<img class="vector-6CAc9T" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC">
				</div>
				<p>Login with Gmail</p>
			</button>
		</div>
		<div id="trees-container">
			<img src="/static/img/trees.svg">
		</div>
	</body>
</html>
