<!-- <html>
	<head>
		<title>Offset user.name} Profile</title>

		<link rel="stylesheet" type="text/css" href="static/css/style.css"> -->

<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Alef&display=swap"
      rel="stylesheet"
    />
    <link
      href="/static/css/profile.css"
      rel="stylesheet"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>

	<h1>User Profile</h1>
	<table>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>

			<th></th>
			<th></th>
			<th></th>

		</tr>
	</table>
  </body>
</html>
