<!DOCTYPE html>
<html>
  <head>
    <title>Offset {{ user.name }} Profile</title>

    <link
      href="https://fonts.googleapis.com/css?family=Alef&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="/static/css/profile.css" rel="stylesheet" />
  </head>
  <body>
	<div id="logo-container">
		<img src="/static/img/logo.png">
	</div>
	
    <h1>{{ user.name }}'s Profile</h1>
    <table class="profile-info">
      <tr>
        <th>Total Packages: {{ user.total_packages }}</th>
        <th>Total Miles Delivered: {{ user.total_miles }}</th>
        <th>Total Carbon: {{ user.total_carbon }}</th>
      </tr>
    </table>
	<h2>Packages</h2>
	<div class="package-container">
		<table class="packages">
			<tr>
				<th>Date Shipped: </th>
				<th>Tracking Number:</th>
				<th>Weight:</th>
				<th>Volume:</th>
				<th>Origin:</th>
				<th>Destination:</th>
				<th>Transportation:</th>
				<th>Carbon Output:</th>
			</tr>
		{% for p in packages %}
			<tr class="package">
				<th>{{ p.ship_date }}</th>
				<th>{{ p.tracking }}</th>
				<th>{{ p.weight }} kg</th>
				<th>{{ p.volume }} m^3</th>
				<th>{{ p.origin }}</th>
				<th>{{ p.destination }}</th>
				<th>{{ p.transportation }}</th>
				<th>{{ p.carbon }} kgCo2</th>
			</tr>
		{% endfor %}
		</table>
	</div>
  </body>
</html>
